code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*body {*/
  /*font: 14px "Century Gothic", Futura, sans-serif;*/
  /*margin: 20px;*/
/*}*/

ol, ul {
  padding-left: 30px;
}

h1 {
  text-align: center;
}
td {
  width: 100px;
  height: 100px;
}
table {
  margin: 5px auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.board-row{
  width: 100%;
}

.status {
  margin-bottom: 4%;
  font-size: 25px;
  text-align: center;
  margin-top: 10%
}

.square {
  background: white;
  border: 2px solid #291a1a61;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  width: 32%;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
